<p-confirmDialog [style]="{width: '35vw'}"></p-confirmDialog>
<div style="padding: 70px 30px 20px 30px">
    <div class="info">
        <i class="fa-solid fa-circle-info"></i> &nbsp;&nbsp;
        <h5><b>Create a task for {{projectName}} Project</b></h5>
    </div>
    <form [formGroup]="taskForm">
        <div class="row mt-3">
            <div class="col-lg-3">
                <h6>Task<sup class="redStar">*</sup></h6>
                <input type="text" class="form-control" formControlName="task"
                    [ngClass]="{'borderRed':!controls('task')&&submitted}">
            </div>
            <div class="col-lg-3">
                <h6>Task Type<sup class="redStar">*</sup></h6>
                <select class="form-select" formControlName="tasktype"
                    [ngClass]="{'borderRed':!controls('tasktype')&&submitted}">
                    <option value=null>Select Task Type</option>
                    <option [value]="item" *ngFor="let item of taskType">{{item}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <h6>Plan Start Date<sup class="redStar">*</sup></h6>
                <div [ngClass]="{'borderRed':!controls('planstartdate')&&submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy"
                        class="date" formControlName="planstartdate"></p-calendar>
                </div>
            </div>
            <div class="col-lg-3">
                <h6>Plan End Date<sup class="redStar">*</sup></h6>
                <div [ngClass]="{'borderRed':!controls('planenddate')&&submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy"
                        class="date" formControlName="planenddate"></p-calendar>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3">
                <h6>Project Name</h6>
                <input type="text" class="form-control" disabled [value]="projectName">
            </div>
            <div class="col-lg-3">
                <h6>Task Status<sup class="redStar">*</sup></h6>
                <select class="form-select" formControlName="taskstatus" (change)="selectProjStatus()"
                    [ngClass]="{'borderRed':!controls('taskstatus')&&submitted}">
                    <option value=null>Select Project Status</option>
                    <option value="InProgress">In Progress</option>
                    <option value="Hold">Hold</option>
                    <option value="Discarded">Discarded</option>
                    <option [value]="item" *ngFor="let item of projStatus">{{item}}</option>
                </select>
            </div>
            <div class="col-lg-3">
                <h6>Actual Start Date<sup class="redStar" *ngIf="controls('taskstatus') == 'InProgress' || controls('taskstatus') == 'Completed'">*</sup></h6>
                <div [ngClass]="{'borderRed':taskForm.get('actualstartdate')?.invalid && submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                    formControlName="actualstartdate"></p-calendar>
                </div>
            </div>
            <div class="col-lg-3">
                <h6>Actual End Date<sup class="redStar" *ngIf="controls('taskstatus') == 'Completed'">*</sup></h6>
                <div [ngClass]="{'borderRed':taskForm.get('actualenddate')?.invalid && submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                    formControlName="actualenddate"></p-calendar>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-lg-3" *ngIf="controls('taskstatus') == 'Hold'">
                <h6>Hold From<sup class="redStar">*</sup></h6>
                <div [ngClass]="{'borderRed':!controls('holdfrom')&&submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy"
                        class="date" formControlName="holdfrom"></p-calendar>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="controls('taskstatus') == 'InProgress' && prevProjStatus == 'Hold'">
                <h6>Resume From<sup class="redStar">*</sup></h6>
                <div [ngClass]="{'borderRed':!controls('resumefrom')&&submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy"
                        class="date" formControlName="resumefrom"></p-calendar>
                </div>
            </div>
            <div class="col-lg-3" *ngIf="controls('taskstatus') == 'Discarded'">
                <h6>Discarded From<sup class="redStar">*</sup></h6>
                <div [ngClass]="{'borderRed':!controls('discardedfrom')&&submitted}">
                    <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy"
                        class="date" formControlName="discardedfrom"></p-calendar>
                </div>
            </div>
            <div class="col-lg-3 mt-4">
                <button class="btn btn-outline-danger px-4" (click)="clear()">Clear</button>
                <button class="btn btn-primary mx-3 px-4" (click)="save()">{{isSave}}</button>
            </div>
        </div>
    </form>

    <div class="mt-5 selectedLOV">
        <table class="table table-striped">
            <thead style="position: sticky;top: 0;">
                <tr style="text-align: center;">
                    <th style="width: 50px;">S.No.</th>
                    <th style="width: 300px;">Task</th>
                    <th style="width: 150px;">Task Type</th>
                    <th style="width: 180px;">Task Status</th>
                    <th style="width: 130px;">Plan Start Date</th>
                    <th style="width: 130px;">Plan End Date</th>
                    <th style="width: 200px;">Created By</th>
                    <th style="width: 120px;">Created On</th>
                    <th style="width: 100px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of tasksList ;let i = index;">
                    <td>{{i+1}}</td>
                    <td>{{obj.task}}</td>
                    <td>{{obj.tasktype}}</td>
                    <td>{{obj.taskstatus}}</td>
                    <td>{{obj.planstartdate}}</td>
                    <td>{{obj.planenddate}}</td>
                    <td>{{obj.createdby}}</td>
                    <td>{{obj.createdon}}</td>
                    <td class="py-0 pt-1">
                        <i class="fa-solid fa-pen-to-square fs-3" (click)="updateTask(obj)"></i>
                        <i class="fa-solid fa-trash fs-3" style="color: #ff0000;margin-left: 15px" (click)="deleteTask(obj)"></i>
                        <!-- <button class="btn btn-primary py-1" (click)="updateTask(obj)">Update</button>
                        <button class="btn btn-danger py-1" style="margin-left: 15px;"
                            (click)="deleteTask(obj)">Delete</button> -->
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>