.info {
    display: flex;
}

.info>.fa-circle-info {
    color: #fa5e5e;
    margin-top: 3px;
    font-size: 22px;
}

.info>h5 {
    color: #fa5e5e;
}
.selectedLOV {
    margin-top: 3px;
}

.selectedLOV th {
    border: 1px solid #ddd;
    padding: 10px 0px;
    background-color: black;
    color: aliceblue;
    justify-content: center;
}

.selectedLOV td {
    border: 1px solid white;
    padding: 8px;
}

.selectedLOV tr:hover {
    background-color: red !important;
    font-weight: bold;
}
.back {
    font-size: 22px;
    cursor: pointer;
  }
  
  .back:hover {
    color: red;
  }