<p-confirmDialog [style]="{width: '35vw'}"></p-confirmDialog>

<div class="modal modal-cus shadow" tabindex="-1" role="dialog" [ngStyle]="{'display':visible}">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header py-1 regCSS">
        <h4 class="">Employee Management</h4>
        <button type="button" class="btnClose" (click)="closePopup()">X</button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="employeeForm">
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3">
              <h6>Employee Id<sup class="redStar">*</sup></h6>
              <input type="text" class="form-control" placeholder="Enter Employee Id" formControlName="empid" appNumsOnly [ngClass]="{'borderRed':!controls('empid')&&submitted}">
            </div>
            <div class="col-lg-3">
              <h6>Employee Name<sup class="redStar">*</sup></h6>
              <input type="text" class="form-control" placeholder="Enter Employee Name" formControlName="empname" [ngClass]="{'borderRed':!controls('empname')&&submitted}">
            </div>
            <div class="col-lg-3">
              <h6>Email<sup class="redStar">*</sup></h6>
              <input type="text" class="form-control" placeholder="Enter Email" formControlName="email" 
              [ngClass]="{'borderRed':!controls('email')&&submitted || employeeForm.get('email')?.hasError('pattern')&&submitted}">
              <div class="red" *ngIf="employeeForm.get('email')?.hasError('pattern')&&submitted">Enter valid Email</div>
            </div>
            <div class="col-lg-3">
              <h6>Status<sup class="redStar">*</sup></h6>
              <select class="form-select" formControlName="status" [ngClass]="{'borderRed':!controls('status')&&submitted}">
                <option value=null>Select Status</option>
                <option [value]="item" *ngFor="let item of statusArr">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3">
              <h6>Mobile No.<sup class="redStar">*</sup></h6>
              <input type="text" class="form-control" maxlength="10" appNumsOnly placeholder="Enter Mobile No." formControlName="mobileno" 
              [ngClass]="{'borderRed':!controls('mobileno')&&submitted || mobileno?.errors?.['invalidMobileNumber'] && submitted}">
              <div class="red" *ngIf="mobileno?.errors?.['invalidMobileNumber'] && submitted">Enter valid mobile number.</div>
            </div>
            <div class="col-lg-3" style="position: relative;">
              <h6>Reporting Manager<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('reportingmanager')&&submitted}">
                <ng-autocomplete [data]="ReporManger" formControlName="reportingmanager" [searchKeyword]="keyword" 
                placeholder="Search Reporting Manager" [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
            </ng-autocomplete>
            <span *ngIf="employeeForm.controls['reportingmanager'].value == ''"><i id="searchicon" class="fa fa-search"></i></span>
            <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.type"></a>
            </ng-template>
            <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
            </ng-template>
              </div>
            </div>
            <div class="col-lg-3">
              <h6>Joining Date<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('joiningdate')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" placeholder="Select Joining Date" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                formControlName="joiningdate"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3">
              <h6>Client<sup class="redStar">*</sup></h6>
              <select class="form-select" formControlName="client" [ngClass]="{'borderRed':!controls('client')&&submitted}">
                <option value=null>Select Client</option>
                <option [value]="item" *ngFor="let item of clientsArr">{{item}}</option>
              </select>
            </div>
          </div>
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3" *ngIf="employeeForm.controls['status'].value == 'inActive'">
              <h6>Inactive From</h6>
              <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                formControlName="inactivefrom" placeholder="Select Inactive From"></p-calendar>
            </div>
            <div class="col-lg-3">
              <h6>Roles<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('roles')&&submitted}">
                <p-multiSelect [options]="roles" [showToggleAll]="false" (onChange)="selectRoles($event)" formControlName="roles" defaultLabel="Select Role" optionLabel="role" display="chip"></p-multiSelect>
              </div>
            </div>
            <div class="col-lg-3">
             
              <!-- <select class="form-select" formControlName="roles" [ngClass]="{'borderRed':!controls('roles')&&submitted}">
                <option value=null>Select Role</option>
                <option [value]="item" *ngFor="let item of roles">{{item}}</option>
              </select> -->
            </div>
            <div class="col-lg-3 mt-4" style="justify-content: end;display: flex;">
              <button type="button" class="btn btn-outline-danger px-4" style="margin-right: 20px;"
                (click)="clearEmployees()">Clear</button>
              <button type="button" class="btn btn-primary px-4" (click)="saveEmployees()">{{isSave}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="back" (click)="back()"> 
  <i class="fa-solid fa-arrow-left-long"></i><b>Back</b>
</div> -->
<div class="textSearch contai" style="display: flex;">
  <div style="width: 300px;">
    <button type="button" class="btn btn-primary" (click)="createEmployees()">Create Employee</button>
  </div>
  <div style="width: 100%;" class="boxShadow">
    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="searchText">
    <i class="fa-solid fa-magnifying-glass" *ngIf="!searchText"></i>
    <i class="fa-solid fa-xmark" style="color: #ff0000;" *ngIf="searchText" (click)="clearText()"></i>
  </div>
</div>

<div class="container-fluid contai">

  <div class="tablediv">
    <p-table class="projectTable" [value]="projects | searchFilter: searchText:['empname','email','empid','mobileno','reportingmanager','joiningdate',
      'status','inactivefrom','client','roles']" [scrollable]="true" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:50px" pFrozenColumn>S.No.</th>
          <th style="min-width:230px" pFrozenColumn>Employee Name</th>
          <th style="min-width:120px" pFrozenColumn>Employee Id</th>
          <th style="min-width:300px">Email</th>
          <!-- <th style="min-width:160px">Password</th> -->
          <th style="min-width:180px">Mobile No.</th>
          <th style="min-width:200px">Reporting Manager</th>
          <th style="min-width:140px">Joining Date</th>
          <th style="min-width:120px">Status</th>
          <th style="min-width:140px">Inactive From</th>
          <th style="min-width:230px">Client</th>
          <th style="min-width:230px">Roles</th>
          <th style="min-width:50px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-obj let-i="rowIndex">
        <tr [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
          <td style="min-width:50px" pFrozenColumn>{{i+1}}</td>
          <td style="min-width:230px" class="hyperLink" pFrozenColumn (click)="projectClick(obj)">{{obj.empname}}</td>
          <td style="min-width:120px" pFrozenColumn>{{obj.empid}}</td>
          <td style="min-width:300px">{{obj.email}}</td>
          <!-- <td style="min-width:160px">{{obj.password}}</td> -->
          <td style="min-width:180px">{{obj.mobileno}}</td>
          <td style="min-width:200px">{{obj.reportingmanager}}</td>
          <td style="min-width:140px">{{obj.joiningdate}}</td>
          <td style="min-width:120px">{{obj.status}}</td>
          <td style="min-width:140px">{{obj.inactivefrom}}</td>
          <td style="min-width:230px">{{obj.client}}</td>
          <td style="min-width:230px">{{obj.roles}}</td>
          <td style="min-width:50px"> <i class="fa-solid fa-trash" (click)="deleteEmployees(obj)"></i></td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>