
<div class="image-container">
    <img src="assets\Images\office_img.jpg">

    <div class="tabs">
        <div style="display: flex;flex-flow: wrap;">
            <div class="box">
                <h2>Employee management</h2>
            </div>
            <div class="box" (click)="clickTab('Project_Management')">
                <h2>Project management</h2>
            </div>
            <div class="box">
                <h2>Job Card</h2>
            </div>
            <div class="box">
                <h2>Timesheets</h2>
            </div>
            <div class="box">
                <h2>Dashboard</h2>
            </div> 
        </div>
    </div>
    
</div>
