
<div class="image-container">
    <img src="assets\Images\office_img.jpg" class="officeImg">

    <div class="tabs">
        <div style="display: flex;flex-flow: wrap;">
            <div class="box" (click)="clickTab('Employee_Management')" *ngIf="tabHide('Employee')">
                <h2>Employee management</h2>
            </div>
            <div class="box" (click)="clickTab('Project_Management')" *ngIf="tabHide('Project')">
                <h2>Project management</h2>
            </div>
            <div class="box" routerLink="/Jobcard" *ngIf="tabHide('Jobcard')">
                <h2>Job Card</h2>
            </div>
            <div class="box" routerLink="/Timesheet" *ngIf="tabHide('Timesheet')">
                <h2>Timesheets</h2>
            </div>
            <div class="box" routerLink="/Admin" *ngIf="tabHide('Admin')">
                <h2>Admin</h2>
            </div> 
        </div>
    </div>
    <div class="logout">
            <h5 class="mt-2">{{userName}}</h5> &nbsp; &nbsp; &nbsp;
            <div class="card">
                <p-overlayPanel #op>
                    <div class="userOverlay">
                        <h6 class="mb-0" (click)="logout()">Logout</h6>
                    </div>
                </p-overlayPanel>
                    <i class="fa-solid fa-user-gear" (click)="op.toggle($event)"></i>
            </div>
    </div>

</div>
