<p-confirmDialog [style]="{width: '35vw'}"></p-confirmDialog>

<div class="modal modal-cus shadow" tabindex="-1" role="dialog" [ngStyle]="{'display':visible}">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header py-1 regCSS">
        <h4 class="">Project Management</h4>
        <button type="button" class="btnClose" (click)="closePopup()">X</button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <form [formGroup]="projectForm">
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3">
              <h6>Project Name<sup class="redStar">*</sup></h6>
              <input type="text" class="form-control" formControlName="projectname"
                [ngClass]="{'borderRed':!controls('projectname')&&submitted}">
            </div>
            <div class="col-lg-3">
              <h6>Client<sup class="redStar">*</sup></h6>
              <select class="form-select" formControlName="clientname"
                [ngClass]="{'borderRed':!controls('clientname')&&submitted}">
                <option value=null>Select Client</option>
                <option [value]="item" *ngFor="let item of clientsArr">{{item}}</option>
              </select>
            </div>
            <div class="col-lg-3">
              <h6>Plan start date<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('planstartdate')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="planstartdate"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3">
              <h6>Plan end date<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('planenddate')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="planenddate"></p-calendar>
              </div>
            </div>
          </div>
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3">
              <h6>Actual Start Date<sup class="redStar"
                  *ngIf="controls('projectstatus') == 'InProgress' || controls('projectstatus') == 'Completed'">*</sup>
              </h6>
              <div [ngClass]="{'borderRed':projectForm.get('actualstartdate')?.invalid && submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="actualstartdate"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3">
              <h6>Actual End Date<sup class="redStar" *ngIf="controls('projectstatus') == 'Completed'">*</sup></h6>
              <div [ngClass]="{'borderRed':projectForm.get('actualenddate')?.invalid && submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="actualenddate"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3">
              <h6>Year<sup class="redStar">*</sup></h6>
              <select class="form-select" formControlName="financialyear" (change)="selectProjStatus()"
                [ngClass]="{'borderRed':!controls('financialyear')&&submitted}">
                <option value=null>Select Financial Year</option>
                <option [value]="item" *ngFor="let item of yearArr">{{item}}</option>
              </select>
            </div>
            <div class="col-lg-3">
              <h6>PO Number<sup class="redStar" *ngIf="toStr(controls('postatus')) != ''">*</sup></h6>
              <input type="text" class="form-control" formControlName="ponumber"
                [ngClass]="{'borderRed':projectForm.get('ponumber')?.invalid&&submitted}">
            </div>
          </div>
          <div class="row px-4 py-3" style="width: 100%;">
            <div class="col-lg-3">
              <h6>PO Amount<sup class="redStar" *ngIf="toStr(controls('postatus')) != ''">*</sup></h6>
              <input type="text" class="form-control" formControlName="poamount"
                [ngClass]="{'borderRed':projectForm.get('poamount')?.invalid&&submitted}">
            </div>
            <div class="col-lg-3">
              <h6>Project Status<sup class="redStar">*</sup></h6>
              <select class="form-select" formControlName="projectstatus" (change)="selectProjStatus()"
                [ngClass]="{'borderRed':!controls('projectstatus')&&submitted}">
                <option value=null>Select Project Status</option>
                <option value="InProgress">In Progress</option>
                <option value="Hold">Hold</option>
                <option value="Discarded">Discarded</option>
                <option [value]="item" *ngFor="let item of projStatus">{{item}}</option>
              </select>
            </div>
            <div class="col-lg-3">
              <h6>PO Status</h6>
              <select class="form-select" formControlName="postatus" (change)="selectPOStatus($event)"
                [ngClass]="{'borderRed':!controls('postatus')&&submitted}">
                <option value=null>Select Project Status</option>
                <option [value]="item" *ngFor="let item of POStatus">{{item}}</option>
              </select>
            </div>
            <div class="col-lg-3">
              <h6>PO Cleared Percentage</h6>
              <input type="text" class="form-control" formControlName="poclearedpercentage"
                [attr.disabled]="controls('postatus') == 'Cleared' || null">
            </div>
          </div>
          <div class="row px-4 py-3 d-flex"
            style="width: 100%;padding-bottom: 25px !important;justify-content: flex-start;">
            <div class="col-lg-3" *ngIf="controls('projectstatus') == 'Hold'">
              <h6>Hold From<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('holdfrom')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="holdfrom"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3" *ngIf="controls('projectstatus') == 'InProgress' && prevProjStatus == 'Hold'">
              <h6>Resume From<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('resumefrom')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="resumefrom"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3" *ngIf="controls('projectstatus') == 'Discarded'">
              <h6>Discarded From<sup class="redStar">*</sup></h6>
              <div [ngClass]="{'borderRed':!controls('discardedfrom')&&submitted}">
                <p-calendar [showIcon]="true" inputId="icon" [readonlyInput]="true" dateFormat="dd-mm-yy" class="date"
                  formControlName="discardedfrom"></p-calendar>
              </div>
            </div>
            <div class="col-lg-3 mt-4" style="justify-content: end;display: flex;height: 40px;">
              <button class="btn btn-outline-danger px-4" style="margin-right: 20px;" (click)="clearProjects()">
                Clear</button>
              <button class="btn btn-primary px-4" (click)="saveProjects()">{{isSave}}</button>
            </div>
            <div class="col-lg-6 d-flex justify-content-between p-0"
              style="width: 48% !important;margin-left: 15px;">

              <form action="/form/sumbit" method="get">
                <label for="upload" >
                  <i class="fa-solid fa-file-circle-plus mt-1" style="color:rgb(255, 0, 106) ;"></i>&nbsp;
                </label>
                <input type="file" name="photo" id="upload" (change)="uploadDoc($event)"/>
              </form>

              
              <table class="table table-bordered docTable" style="table-layout: fixed;">
                <thead>
                  <tr>
                    <th style="width: 50px;">S.No</th>
                    <th style="width: 170px;">Doc Name</th>
                    <th style="width: 150px;">Remarks</th>
                    <th style="width: 35px;"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let obj of docsArr;let i=index">
                    <td>{{i+1}}</td>
                    <td class="textOverflow"><b class="hyperLink" [title]="obj.docname" (click)="downloadFile(obj.docname)">{{obj.docname}}</b></td>
                    <td class="p-0">
                      <textarea class="form-control p-0" [(ngModel)]="obj.remarks"></textarea>
                    </td>
                    <td><i class="fa-solid fa-trash m-0" (click)="delDoc(obj)"></i></td>
                  </tr>
                </tbody>
              </table>

              <!-- <div *ngFor="let obj of docsArr" class="hyperLink" class="d-flex">
                <h6 (click)="downloadFile(obj.docname)">{{obj.docname}}</h6> &nbsp;&nbsp;
                <i class="fa-solid fa-trash-can"></i>
              </div>
              <div class="mt-2">
                <form action="/form/sumbit" method="get" style="width: 125px;">
                  <label for="upload" class="label">
                    <div *ngIf="currentFile" class="progress">
                      <div class="progress-bar progress-bar-info" role="progressbar" attr.aria-valuenow="{{ progress }}"
                        aria-valuemin="0" aria-valuemax="100" [ngStyle]="{ width: progress + '%' }"> {{ progress }}%
                      </div>
                    </div>
                    <div *ngIf="!currentFile">
                      Upload File
                    </div>
                  </label>
                  <input type="file" name="photo" id="upload" (change)="uploadDoc($event)" />
                </form>
              </div> -->
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- <div class="back" (click)="back()"> 
  <i class="fa-solid fa-arrow-left-long"></i><b>Back</b>
</div> -->
<div class="textSearch contai" style="display: flex;">
  <div style="width: 220px;">
    <button class="btn btn-primary" (click)="createProject()">Create Project</button>
  </div>
  <div style="width: 100%;" class="boxShadow">
    <input class="form-control" type="text" placeholder="Search..." [(ngModel)]="searchText">
    <i class="fa-solid fa-magnifying-glass" *ngIf="!searchText"></i>
    <i class="fa-solid fa-xmark" style="color: #ff0000;" *ngIf="searchText" (click)="clearText()"></i>
  </div>
</div>

<div class="container-fluid contai">

  <div class="tablediv">
    <p-table class="projectTable"
      [value]="projects | searchFilter: searchText:['projectname','clientname','planenddate','actualstartdate','actualenddate','financialyear','createdon',
      'ponumber','poamount','projectstatus','postatus','poclearedpercentage','holdfrom','resumefrom','discardedfrom','createdby','updatedby','updatedon']"
      [scrollable]="true" dataKey="id">
      <ng-template pTemplate="header">
        <tr>
          <th style="min-width:50px" pFrozenColumn>S.No.</th>
          <th style="min-width:250px" pFrozenColumn>Project Name</th>
          <th style="min-width:210px" pFrozenColumn>Client</th>
          <th style="min-width:140px">Plan Start Date</th>
          <th style="min-width:140px">Plan End date</th>
          <th style="min-width:150px">Actual Start date</th>
          <th style="min-width:140px">Actual End date</th>
          <th style="min-width:140px">Financial Year</th>
          <th style="min-width:120px">PO Number</th>
          <th style="min-width:120px">PO Amount</th>
          <th style="min-width:120px">Project Status</th>
          <th style="min-width:120px">PO Status</th>
          <th style="min-width:190px">PO Cleared Percentage</th>
          <th style="min-width:130px">Hold From</th>
          <th style="min-width:130px">Resume From</th>
          <th style="min-width:150px">Discarded From</th>
          <th style="min-width:130px">Created By</th>
          <th style="min-width:130px">Updated By</th>
          <th style="min-width:130px">Created On</th>
          <th style="min-width:130px">Updation On</th>
          <th style="min-width:80px"></th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-obj let-i="rowIndex">
        <tr [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
          <td style="min-width:50px" pFrozenColumn>{{i+1}}</td>
          <td style="min-width:250px" class="hyperLink" pFrozenColumn routerLink="/Project_Management/taskCreate"
            [queryParams]="{ ProjctId: obj.id, ProjectName: obj.projectname }">{{obj.projectname}}</td>
          <td style="min-width:210px" pFrozenColumn>{{obj.clientname}}</td>
          <td style="min-width:140px">{{obj.planstartdate}}</td>
          <td style="min-width:140px">{{obj.planenddate}}</td>
          <td style="min-width:150px">{{obj.actualstartdate}}</td>
          <td style="min-width:140px">{{obj.actualenddate}}</td>
          <td style="min-width:140px">{{obj.financialyear}}</td>
          <td style="min-width:120px">{{obj.ponumber}}</td>
          <td style="min-width:120px">{{obj.poamount}}</td>
          <td style="min-width:120px">{{obj.projectstatus}}</td>
          <td style="min-width:120px">{{obj.postatus}}</td>
          <td style="min-width:190px">{{obj.poclearedpercentage}}</td>
          <td style="min-width:130px">{{obj.holdfrom}}</td>
          <td style="min-width:130px">{{obj.resumefrom}}</td>
          <td style="min-width:150px">{{obj.discardedfrom}}</td>
          <td style="min-width:130px">{{obj.createdby}}</td>
          <td style="min-width:130px">{{obj.updatedby}}</td>
          <td style="min-width:130px">{{obj.createdon}}</td>
          <td style="min-width:130px">{{obj.updatedon}}</td>
          <td style="min-width:80px">
            <i class="fa-solid fa-pen-to-square updateBtn" (click)="projectClick(obj)"></i>
            <i class="fa-solid fa-trash" style="margin-right: 10px;" (click)="deleteProjects(obj)"></i>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

</div>